body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.container {
  flex: 1;
}

.modal-dialog {
  max-width: 600px;
  margin: auto;
}

.modal-dialog-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header {
  background-color: #cc3333;
  color: white;
}

#hidden-section {
  display: none;
}

#error-alert {
  display: none;
}

.card {
  padding: 10px;
  box-shadow: 10px 10px 15px 5px rgb(189, 189, 189);
}

img {
  width: 100%;
  object-fit: contain;
  object-position: center;
  aspect-ratio: 3/3;
}
